{% extends '::base.html.twig' %}

{%  block content %}
<div class="wrap">
<div class="row">
<div class="full-width content">
    {% if count_voyages > 0 %}
        <h2>{{ count_voyages }} navettes trouvées!</h2>

        <div class="results">

            {% for voyage in list_voyages %}
                {% include 'CovoiturageFrontendBundle:line:voyage.html.twig' with {'voyage':voyage,'user_reservations':user_reservations} %}
            {% endfor %}



        </div>
{% else %}
    <h2>Aucune résultat trouvés pour votre recherche.</h2>
{% endif %}

</div>
</div>
</div>
{% endblock %}
