<div class="post-content">
    <h2 class="post-title"><a href="#">Pourquoi faire du covoiturage?</a></h2>
    <div class="post-desc">
        <p>Le covoiturage consiste à partager son véhicule personnel avec d'autres usagers pour effectuer un trajet commun, son utilisation peut être régulière comme occasionnelle, il peut être utilisé pour les trajets "maison – travail", "maison- école- travail ,"maison-faculté"... Certaines personnes utilisent également le covoiturage pour partir en vacances ou pour un voyage à la dernière minute.</p>
    </div>
</div>